body
{
 background-color: lightblue;
}

header
{
  height: 60px;
  background-color: cyan;
}

footer
{
  height: 60px;
  background-color: cyan;
}

.full-height
{
  height: 100%;
}

.full-width
{
  width: 100%;
}

.flex-base
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-center
{
  align-items: center;
}

ul.flex-center
{
    width: 300px;
}

.menu-buttons>li
{
    padding-right: 10px;
    padding-left: 10px;
}

.no-padding-margin
{
  padding: 0;
  margin: 0;
}

.no-style-list
{
  list-style: none;
}

.menu-buttons>li>a
{
  text-decoration: none;
  text-transform: uppercase;
  color: red;
}

.menu-buttons>li:hover, .menu-buttons>li:hover>a
{
  background-color: black;
  color: white;
}

.menu-footer>li>a
{
  text-decoration: none;
  text-transform: uppercase;
  color: red;
}

.menu-footer>li:last-of-type:hover, .menu-footer>li:hover>a
{
  background-color: black;
  color: white;
}
